::-webkit-scrollbar {
  height: 20px;
  width: 10px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #d1cbcb;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
:root {
  --text1: #9499A0;
  --text2: #61666d;
  --icon: #9499a0;
  --text_link: #089ddd;
  --tag: #7BCDEF;
  --pink: #FF6699;
}

.a-link {
  text-decoration: none;
  color: var(--text_link);
  cursor: pointer;
}

.not-allow {
  cursor: not-allowed;
  color: #ddd;
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.el-form-item {
  align-items: center;
}